name: app_name
services:
  db:
    image: postgres:17
    ports:
      - 0:5432
    environment:
      POSTGRES_USER: "username"
      POSTGRES_PASSWORD: "randompassword"
      POSTGRES_DB: "dbname"
  test-db:
    image: postgres:17
    ports:
      - 0:5432
    environment:
      POSTGRES_USER: "test_username"
      POSTGRES_PASSWORD: "test_randompassword"
      POSTGRES_DB: "test_db"
