name: service-template
services:
  db:
    image: postgres:17
    ports:
      - 0:5432
    environment:
      POSTGRES_USER: "username"
      POSTGRES_PASSWORD: "randompassword"
      POSTGRES_DB: "dbname"
  test-db:
    image: postgres:17
    ports:
      - 0:5432
    environment:
      POSTGRES_USER: "test_username"
      POSTGRES_PASSWORD: "test_randompassword"
      POSTGRES_DB: "test_db"
  envoy:
    image: envoyproxy/envoy:v1.34-latest
    entrypoint: /etc/envoy/docker-entrypoint.sh
    ports:
      - 0:8000
      - 0:9901
    volumes:
      - ./middleware/envoy:/etc/envoy
    extra_hosts:
      - "host.docker.internal:${DOCKER_HOST_IP:-host-gateway}"
